<header class="p-3 border-bottom bg-white sticky-top d-flex align-items-center justify-content-end">

    {% set avatar = None %}
    {% if current_user.is_authenticated %}
        {% if current_user.avatar %}
            {% set avatar = current_user.avatar %}
        {% else %}
            {% set avatar = "https://ui-avatars.com/api/?name=" ~ current_user.full_name ~ "&background=random" %}
        {% endif %}
    {% else %}
        {% set avatar = "https://ui-avatars.com/api/?name=User&background=random" %}
    {% endif %}

    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{avatar}}" alt="user" class="rounded-circle avatar-circle me-2" width="40" height="40" style="object-fit: cover;">
            <div class="d-none d-sm-block lh-1 text-start">
                {% if current_user.is_authenticated %}
                    <div class="fw-bold small">{{ current_user.full_name }}</div>
                    <div class="text-muted mt-1" style="font-size: 0.75rem;">{{current_user.user_role.name}}</div>
                {% else %}
                    <div class="fw-bold small">Guest</div>
                    <div class="text-muted mt-1" style="font-size: 0.75rem;">VISITOR</div>
                {% endif %}
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end text-small shadow">
            {% if current_user.is_authenticated %}
                <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
            {% else %}
                <li><a class="dropdown-item text-primary" href="/login">Login</a></li>
                <li><a class="dropdown-item text-primary" href="/register">Register</a></li>
            {% endif %}
        </ul>
    </div>
</header>