{% extends 'layout/base.html' %}

{% block content %}
<h2 class="mb-4 text-center">BLANK APARTMENT</h2>

<div class="row">
    {% for a in apartments %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm h-100">
            <img src="{{ a.image_urls }}" class="card-img-top" alt="Apartment Image" style="height: 200px; object-fit: cover;">

            <div class="card-body">
                <h5 class="card-title text-primary">{{ a.id }}</h5>
                <p class="card-text">Type: <strong>{{ a.room_type.value }}</strong></p>
                <h5 class="text-danger font-weight-bold">{{ "{:,.0f}".format(a.price) }} VND</h5>

                <a href="/apartment/{{ a.id }}" class="btn btn-primary w-100">Details</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12 text-center">
        <p>Hiện không có phòng nào trống.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}