{% extends 'layout/base.html' %} 

{% block content %}
<div class="container mt-1">
    <div class="text-center mb-4">
        <h1>Wirte {{ "Electric" if reading_type == 'electric' else "Water" }}</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-sm p-4" style="border-radius: 15px;">
                <form method="POST" action="{{ url_for('meter_reading_view', reading_type=reading_type) }}" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="apartment_id" class="form-label fw-bold text-secondary">Apartment number</label>
                        <select class="form-select border-2" id="apartment_id" name="apartment_id" required>
                            <option value="">Select</option>
                            {% for apt in apartments %}
                            <option value="{{ apt.id }}">{{ apt.id }}</option>
                            {% endfor %}
                        </select>
                       
                    </div>

                    <div class="mb-3">
                        <label for="month" class="form-label fw-bold text-secondary">Month</label>
                        <input type="month" class="form-control border-2" id="month" name="month" required>
                    </div>

                    <div class="mb-3">
                        <label for="new_meter_reading" class="form-label fw-bold text-secondary">New Meter Reading</label>
                        <input type="number" step="0.01" class="form-control border-2" id="new_meter_reading" name="new_meter_reading" required>
                    </div>

                    <div class="mb-4">
                        <label for="reading_image" class="form-label fw-bold text-secondary">Reading Proof Photo</label>
                        <input type="file" class="form-control border-2" id="reading_image" name="reading_proof_photo" accept="image/*" required>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg fw-bold shadow-sm">
                            <i class="fas fa-save me-2"></i>Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

